@import "tailwindcss";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.work-sans {
  font-family: var(--font-work-sans, sans-serif);
}

.space-mono {
  font-family: var(--font-space-mono, monospace);
}

.transition-ease {
  transition: 0.3s ease-in-out all;
}

.index-low {
  z-index: 1;
}

.index-finite {
  z-index: 999 !important;
}
