@import 'tailwindcss'

/* @import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}


.work-sans {
  font-family: var(--font-work-sans, sans-serif);
}

.space-mono {
  font-family: var(--font-space-mono, monospace);
}

.transition-ease{
  transition: 0.3ms ease-in-out all;
} */

